.mustard{
    background-color: #f7bd50;
}

.aqua{
    background-color: #76c4bf;
}

.steel-blue{
    background-color: #b8bde1;
}

.red{
    background-color: #e24a42;
}

.gray{
    background-color: #acacac;
}

.rose{
    background-color: #f6d2ed;
}

.melon{
    background-color: #f4bbb8;
}

.blush{
    background-color: #ea5782;
}

.crystal-blue{
    background-color: #4eadb9;
}

.canary{
    background-color: #f6f996;
}

.orchid{
    background-color: #ea9bcd;
}

.green{
    background-color: #9beaca;
}