$nav-container-color: #C6BDBD;

#sidebar, #topbar {
    background-color: $nav-container-color;
}

#sidebar {
    padding: 82px 3px 10px 6px;
    position: fixed;
    z-index: 100 !important;
}

#topbar {
    margin: 0px;
    padding: 6px 16px 0px 82px;
    position: fixed;
    z-index: 100 !important;
}

#sidebar-panel {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 100%);
    border-radius: 6px;
    padding: 8px 0px 0px 0px;
    text-align: center;
    height: 100%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#topbar-panel {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 100%);
    border-radius: 6px;
    height: 60px;
    padding: 0px;
    position: absolute;
    top: 0px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#topbar-col{
    border-color: black;
    border-width: 2px;
}

#corner-logo {
    border-radius: 6px;
    position: fixed;
    top: 6px;
    left: 6px;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    z-index: 110;
}

.search-bar .v-field {
    border-radius: 9999px;
}

.search-bar{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 9999px;
}

#home-content {
    border-radius: 6px;
    overflow: hidden;
    max-width: calc(100% - 78px);
    width: calc(100% - 78px);
    height: calc(100% - 69px);
    margin: 69px 6px 0px 72px;
    padding: 0px;
}

#signin-container {
    background-image: url("@/assets/bg_signup.png");
    background-size: cover;
}

#signin-logo{
    border-radius: 10px;
    width: 60px;
    height: 60px;
    padding: 65px;
}

#signin-text-title {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

#hyperlink-signin{
    color: white;
}

#video-row-button {
    background-color: transparent;
    margin: 0 0 0 37px;
    padding-left: 30px;
}

#video-area{
    background-color:white;
    border-style:solid;
    border-color:black;
    border-width:2px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;

}

#video-container {
    margin: 0px;
    padding: 0px;
}

#subject-button-toggle {
    height: 36px;
}

#subject-button-toggle .v-btn {
    color: rgb(255, 255, 255);
    padding: 1px 1px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin: 0px 10px;
    border-radius: 7px 7px 0px 0px;
} 
  
#subject-button-toggle .v-btn.selected {
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.video-box {
    background-color: black;
    color: black;
    border: solid 2px black;
    border-radius: 30px;
    box-shadow: none;
    transition: box-shadow 0.1s linear;
}

.video-box-info-area {
    background-color: white;
    border-top: solid 2px black;
}

.video-box-title {
    font-size: 1.4em;
    font-weight: bold;
}

.video-box:hover {
    box-shadow: 3px 3px 0px 0px black;
    transition: box-shadow 0.1s linear;

    .video-box-info-area {
        background-color: #FF1E23;
    }
}

#upload-btn {
    border-radius: 9999px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: #2096fd;
    color: white;
}

#btn-new-theme-unit {
    border-radius: 9999px;
    border-style: solid;
}

#btn-new-question-series {
    border-radius: 9999px;
}

#buttons-video-area {
    margin-left: 32px;
    margin-top: 30px;
    margin-right: 32px;
    border-color: transparent;
}

#filter-button {
    border-radius: 9999px;
}