@import "./constants.scss";

.v-theme--dark .v-btn, .v-theme--dark.v-btn {
    color: white;
}

.v-alert {
    border: solid 2px black;
}

#sidebar, #topbar {
    background-color: transparent;
}

#sidebar {
    position: fixed;
    z-index: 100 !important;
}

#sidebar .v-avatar {
    border: solid 2px black;
}

#sidebar .v-list-item {
    margin: 0px;
    border-radius: 0px;
    background: linear-gradient(to right, transparent 50%, black 50%), linear-gradient(to right, transparent 50%, $recture-yellow 50%);
    background-size: 200% 100%, 200% 100%;
    background-position: 0px 0px, 0px 0px;
    box-shadow: none;
    opacity: 100%;
    transition: all 0.15s ease-in-out;
    overflow: visible;
}

#sidebar .v-list-item.active {
    background-color: $recture-yellow;
    background-position: -200% 0px, -100% 0px;
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 2px 0px 0px black;
}

#sidebar .v-list-item .v-icon {
    filter: none;
    transition: filter 0.15s ease-out;
}

#sidebar .v-list-item:hover .v-icon {
    filter: drop-shadow(2px 2px 0px $recture-yellow);
    transition: filter 0.15s ease-in;
}

#sidebar .v-divider {
    border-top-color: black;
    border-top-width: 2px;
    opacity: 20%;
}

.sidebar-button-tooltip div {
    opacity: 100% !important;
    background-color: $recture-yellow !important;
    color: black !important;
    border: solid 2px black !important;
    border-radius: 0px 6px 6px 6px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    box-shadow: 2px 2px 0px 0px black;
}

#topbar {
    margin: 0px;
    padding: 0px 0px 0px 60px;
    position: fixed;
    z-index: 100 !important;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}

#sidebar-panel {
    background: transparent;
    border-radius: 0px;
    padding: 60px 0px 0px 0px;
    text-align: center;
    height: 100%;
    border-right-width: 2px;
    border-style: solid;
    border-right-color: black;
}

#menu-btn {
    width: 60px;
    height: 60px;
    z-index: 110;
    background-color: $recture-cadet-blue;
    border-style: solid;
    border-color: black;
    border-width: 0px 2px 2px 0px;
    border-radius: 0px;
}

#topbar-panel {
    background: #9CBBC4;
    height: 60px;
    padding: 0px;
    position: absolute;
}

.v-field {
    border-radius: 9999px;
}

#home-content {
    border-radius: 6px;
    overflow: hidden;
    max-width: calc(100% - 72px);
    width: calc(100% - 72px);
    height: calc(100% - 66px);
    margin: 66px 6px 0px 66px;
    padding: 0px;
    transition: all 0.1s ease-in;
}

#home-content.full {
    max-width: calc(100% - 12px);
    width: calc(100% - 12px);
    margin-left: 6px;
    transition: all 0.1s ease-out;
}

.v-chip {
    background-color: white;
    border: solid 2px black;
    font-weight: bold;
    transition: box-shadow 0.1s linear;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .v-icon {
        padding: 0px;
        margin: 0px;
        width: 0px;
        opacity: 0%;
        transform: translate(-50%, 0px);
        transition-property: width, opacity, transform;
        transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        overflow: hidden;
    }
}

.v-chip.selected {
    background-color: $recture-red !important;
    box-shadow: 2px 2px 0px 0px black;
    transition: box-shadow 0.1s linear;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .v-icon {
        width: 21px;
        opacity: 100%;
        transform: translate(0px, 0px);
        visibility: visible;
        transition-property: width, opacity, transform;
        transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }
}