$nav-container-color: transparent;
$nav-panel-color: #232323;

#sidebar, #topbar {
    background-color: $nav-container-color;
    border: none;
}

#sidebar {
    padding: 66px 3px 3px 3px;
}

#topbar {
    margin: 0px;
    padding: 3px 3px 3px 66px;
}

#sidebar-panel {
    background-color: $nav-panel-color;
    border-radius: 6px;
    padding: 7px 0px 0px 0px;
    text-align: center;
    height: 100%;
}

#topbar-panel {
    background-color: $nav-panel-color;
    border-radius: 6px;
    height: 60px;
    padding: 0px;
    position: absolute;
    top: 0px;
}

#corner-logo {
    border-radius: 6px;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 60px;
    height: 60px;
}

.search-bar .v-field {
    border-radius: 9999px;
}

#home-content {
    border-radius: 6px;
    overflow: hidden;
    max-width: calc(100% - 69px);
    width: calc(100% - 69px);
    height: calc(100% - 69px);
    margin: 0px 3px 0px 66px;
    padding: 0px;
}