@import "./constants.scss";

#whole-comments-container  {
    .v-col-comments {
        background-color: white;
        border-color: black;
        border-right-width: 0px;
        border-left-width: 2px;
        border-top: 2px;
        border-bottom: 2px;
        border-style: solid;
    }

    .v-col-video {
        position: relative;
        background-image: linear-gradient(90deg, rgba(255,217,0,0.65) 0%, rgba(255,217,0,0.65) 100%),url("@/assets/class.png");
        background-position-x: center;
        background-position-y: center;
        background-size: 800px;
        background-size: cover;
        border-left-color: black;
        border-top-color: black;
        border-right-color: black;
        border-left-width: 2px;
        border-right-width: 2px;
        border-top-width: 2px;
        border-style: solid;
        border-bottom-width: 0px;
        border-bottom-color: transparent;

    }

    .play-icon {
        position: absolute;
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        color: white;
        font-size: 50px;
        opacity: 100%;
        stroke-width: 2px;
        text-shadow: none;
        transition: text-shadow 0.15s ease-out;
        cursor: pointer;
    }

    .play-icon:hover {
        text-shadow: 4px 4px 0px black;
        transition: text-shadow 0.15s ease-in;
    }

    .reply-ignore-dots-buttons {
        color: black;
        opacity: 100%;
    }

    .time-label {
        opacity: 50%;
    }

    #v-row-comments-whole {
        border-color: black;
        border-width: 2px;
        border-style: solid;
    }

    #comments-avatar {
        border-color: black;
        border-width: 2px;
        border-style: solid;
    }

    #class-chip-comment {
        background-color: $recture-red;
        border-radius: 9999px;
        border-color: black;
        border-width: 2px;
        border-style: solid;
        box-shadow: 2px 2px 0px 0px black;
        padding-left: 15px;
        padding-right: 15px;
    }

    .comment-bottom {
        z-index: 1;
        user-select: none;
        background-repeat: repeat !important;
    }
    
    .v-container-comment {
        background-color: transparent;
        box-shadow: none;
        background-color: #e2e2e2;
        border: 2px black solid;
    }
    
    .teacher-student-avatar{
        border: 2px solid black;
    }
    
    .text-area-comment{
        background-color: white;
        border: 2px solid black;
        border-radius: 6px;
    }

    .title{
        color: red;
    }
}