.v-col-comments {
    background-color: white;
    border-color: black;
    border-right-width: 0px;
    border-left-width: 2px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
}

.v-col-video {
    position: relative;
    background-image: linear-gradient(90deg, rgba(255,217,0,0.65) 0%, rgba(255,217,0,0.65) 100%),url("@/assets/class.png");
    background-position-x: center;
    background-position-y: center;
    background-size: 800px;
    background-size: cover;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.play-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    color: white;
    font-size: 50px;
    opacity: 100%;
    stroke-width: 2px;
    text-shadow: none;
    transition: text-shadow 0.15s ease-out;
    cursor: pointer;
}

.play-icon:hover {
    text-shadow: 4px 4px 0px black;
    transition: text-shadow 0.15s ease-in;
}

.reply-ignore-dots-buttons {
    color: black;
    opacity: 100%;
}

.time-label {
    opacity: 50%;
}