@import "./constants.scss";
@import "./mixins.scss";

#signin {
    background-image: url("@/assets/bg_pattern.png");
    background-size: cover;
    background-attachment: fixed;
}

#signin #signin-logo {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    padding: 65px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 5px 0px 0px black;
}

#signin p {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

#signin .v-field {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 4px;
    box-shadow: none;
    border-radius: 4px;
    transition: box-shadow 0.1s;
}

#signin .v-field:focus-within {
    box-shadow: 5px 5px 0px 0px black;
    transition: box-shadow 0.1s;
}

#signin .v-field .v-icon {
    color: black;
    opacity: 80%;
    transition: opacity 0.1s;
}

#signin .v-field .v-icon:hover {
    color: black;
    opacity: 100%;
    transition: opacity 0.1s;
}

#signin .v-btn {
    @include elevated-button(0px, 3px, 1px);
    background-color: $recture-yellow;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#signin a {
    color: black;
}