@import "./constants.scss";
@import "./mixins.scss";

.timetable-container {
    padding: 22px 22px 0px 22px;
}

#timetable-edit-button {
    @include elevated-button(3px, 3px, 1px);
    background-color: $recture-yellow;
    color: black;
    border-radius: 0px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.footer-button {
    @include elevated-button(0px, 3px, 1px);
    border-radius: 9999px;
    background-color: $recture-yellow;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    align-content: center;
    color: black;
}

.footer-button .v-icon {
    font-size: 27px;
    height: 100%;
    padding-bottom: 2px;
    justify-content: start;
}

.plus-button .v-icon {
    padding-left: 8px;
}

#timetable-grid {
    background-color: white;
    border-radius: 15px;
    border: solid 2px black;
    box-shadow: 6px 6px 0px 0px black;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .timetable-grid-header, .timetable-grid-cell {
        border: solid 1px black;
        text-align: center;
        overflow: hidden;
    }

    .timetable-grid-cell {
        background-color: transparent;
        cursor: pointer;
        text-align: center;
        font-weight: bold;

        * {
            overflow: hidden;
        }

        p {
            user-select: none;
        }
    }

    .timetable-grid-cell .v-row {
        box-shadow: none;
        transition: box-shadow 0.1s linear;
    }

    .timetable-lesson {
        position: relative;

        .v-icon {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    &.editing .timetable-grid-cell {
        cursor: default;
    }

    &.editing .timetable-lesson {
        animation: edit-shake;
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        border: solid 2px black;
    }

    &:not(.editing) .timetable-grid-cell:hover .v-row {
        box-shadow: 0px 0px 0px 2px black inset, -5px -5px 0px 0px black inset;
        transition: box-shadow 0.1s linear;
    }

    .timetable-grid-cell:not(.timetable-lesson) .v-row > *{
        opacity: 0%;
        transition: opacity 0.1s linear;
    }

    &:not(.editing) .timetable-grid-cell:not(.timetable-lesson):hover .v-row > *{
        opacity: 30%;
        transition: opacity 0.1s linear;
    }

    .timetable-grid-header {
        font-weight: bold;
    }

    .timetable-grid-row:first-child {
        height: 50px;
        max-height: 50px;
        border-top: none;
    }

    .timetable-grid-row:first-child:only-child {
        height: 100%;
        max-height: 100%;
    }

    .timetable-grid-row:first-child > * {
        border-top: none;
    }

    .timetable-grid-row:first-child .timetable-grid-header:first-child {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuXzgyeGM2NyIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48bGluZSB4MT0iMCIgeT0iMCIgeDI9IjAiIHkyPSIxMCIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjIiLz48L3BhdHRlcm4+PC9kZWZzPiA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI3BhdHRlcm5fODJ4YzY3KSIgb3BhY2l0eT0iMSIvPjwvc3ZnPg==');
        background-size: cover;
    }

    .timetable-grid-row:last-child * {
        border-bottom: none;
    }

    .timetable-grid-cell:first-child, .timetable-grid-header:first-child {
        border-left: none;
    }

    .timetable-grid-cell:last-child, .timetable-grid-header:last-child {
        border-right: none;
    }
}

@keyframes edit-shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.manage-dialog-v-card{
    background-color: #efefef;
    border-radius: 7px !important;
}

.rows-items-manage-timetabe{
    background-color: transparent !important;
}

.tooltip-manage-timetable div{
    opacity: 100% !important;
    background-color: $recture-yellow !important;
    color: black !important;
    border: solid 2px black !important;
    border-radius: 6px !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

.v-table td , .v-table th {
    border: none !important;
    font-size: 22px;
}

.v-dialog .v-table .v-table__wrapper tbody > tr{
    outline: dashed 1px #00000033 !important;
    overflow: visible !important;
}

.v-dialog .v-table .v-table__wrapper thead > tr > th{
    border-bottom: solid 2px black !important;
}

.v-dialog .v-card-rename-dialog{
    background-color: #efefef;
    border-radius: 7px !important;
}

.rename-btn{
    background-color: $recture-yellow;
    color: black !important;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 3px 0px 0px black !important;
}