@import "./constants.scss";
@import "./mixins.scss";

#timetable-edit-button {
    @include elevated-button(3px, 3px, 1px);
    background-color: $recture-yellow;
    color: black;
    border-radius: 0px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.plus-btn .v-icon {
    font-size: 27px;
    height: 100%;
    padding-bottom: 2px;
    justify-content: start;
    padding-left: 8px;
}

.plus-btn {
    @include elevated-button(0px, 3px, 1px);
    border-radius: 9999px;
    background-color: $recture-yellow;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    align-content: center;
    color: black;
}

#timetable-grid {
    background-color: white;
    border-radius: 15px;
    border: none;
    border-collapse: collapse;
    box-shadow: 0px 0px 0px 2px black, 6px 6px 0px 0px black;
    table-layout: fixed;
    overflow: hidden;

    tr, td {
        height: 20px !important;
    }

    th, td {
        border: solid 2px black;
    }

    th {
        border-top: none;
    }

    td {
        background-color: transparent;
        box-shadow: none;
        cursor: pointer;
        transition: box-shadow 0.1s linear;

        * {
            overflow: hidden;
        }
    }

    td:hover {
        box-shadow: 0px 0px 0px 2px black inset, -5px -5px 0px 0px black inset;
        transition: box-shadow 0.1s linear;
    }

    tr:first-child th:first-child {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxkZWZzPjxwYXR0ZXJuIGlkPSJwYXR0ZXJuXzgyeGM2NyIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiBwYXR0ZXJuVHJhbnNmb3JtPSJyb3RhdGUoNDUpIj48bGluZSB4MT0iMCIgeT0iMCIgeDI9IjAiIHkyPSIxMCIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjIiLz48L3BhdHRlcm4+PC9kZWZzPiA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI3BhdHRlcm5fODJ4YzY3KSIgb3BhY2l0eT0iMSIvPjwvc3ZnPg==');
        background-size: cover;
    }

    tr:last-child * {
        border-bottom: none;
    }

    td:first-child, th:first-child {
        border-left: none;
    }

    td:last-child, th:last-child {
        border-right: none;
    }
}

.timetable-lesson {
    text-align: center;
    font-weight: bold;
}