@import "./constants.scss";
@import "./mixins.scss";

.welcome-text {
    font-family: 'Clash Display', sans-serif;
}

.welcome-text.primary {
    font-size: 64px;
    font-weight: 600;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke: 2px;
    text-shadow: 2px 2px 0px black;

    &.loaded {
        animation: fade-in, fly-in;
        animation-duration: 1s, 1s;
        animation-iteration-count: 1, 1;
        animation-timing-function: ease-in, ease-in-out;
    }
}

.welcome-text.secondary {
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    transform: rotate(3deg);
    animation: pulsate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &.loaded {
        animation: fade-in, pulsate;
        animation-duration: 1s, 5s;
        animation-iteration-count: 1, infinite;
        animation-timing-function: ease-in-out, ease-in-out;
    }
}

.welcome-text.primary.centered, .welcome-text.secondary.centered {
    text-align: center;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fly-in {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes pulsate {
    0% {
        transform: rotate(3deg) scale(1);
    }
    50% {
        transform: rotate(3deg) scale(1.1);
    }
    100% {
        transform: rotate(3deg) scale(1);
    }
}

.search-bar * {
    font-size: 20px;
}

.search-bar .v-icon {
    font-size: 28px;
    height: 100%;
}

#subject-button-row {
    background-color: transparent;
    margin: 0px 0px 0px 28px;
}

#video-area {
    margin: 0px 12px 0px 12px;
}

#video-area-content {
    background-color: $recture-yellow;
    box-shadow: 0px 0px 0px 2px black;
    border-radius: 20px;
    padding: 18px;
}

#video-browser-container {
    margin: 0px;
    padding: 0px;
}

#subject-button-toggle {
    height: 36px;
}

#subject-button-toggle .v-btn {
    background-color: black;
    color: white;
    padding: 1px 1px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin: 0px 8px 0px 10px;
    border-color: black;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-radius: 7px 7px 0px 0px;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
} 

#subject-button-toggle .v-btn * {
    background-color: transparent;
}

#subject-button-toggle .v-btn.selected {
    background-color: $recture-yellow;
    color: black;
    transition: all 0.2s ease-in-out;
}

#subject-button-toggle .v-btn.selected::after {
    width: 100%;
    height: 1px;
    top: calc(100% + 1px);
    background-color: red;
    z-index: 10000000;
}

.video-box {
    background-color: black;
    color: black;
    border: solid 2px black;
    border-radius: 30px;
    box-shadow: none;
    transition: box-shadow 0.1s linear;
}

.video-box-info-area {
    background-color: white;
    border-top: solid 2px black;
}

.video-box-title {
    display: -webkit-box;
    font-size: 1.4em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.video-box:hover {
    box-shadow: 3px 3px 0px 0px black;
    transition: box-shadow 0.1s ease-out;

    .video-box-info-area {
        background-color: $recture-red;
    }
}

#upload-btn {
    @include elevated-button(0px, 3px, 1px);
    border-radius: 9999px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: $recture-bright-blue;
    color: white;
}

#btn-new-theme-unit * {
    border-radius: 9999px !important;
}

#btn-new-question-series {
    border-radius: 9999px;
}

#buttons-video-area {
    border-color: transparent;
}

#filter-button {
    border-radius: 9999px;
    background-color: black;
    color: white;
    box-shadow: none;
}

#recording-filter-menu {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: none !important;
}

#recording-filter-menu .v-card-actions {
    background-color: black;
    color: white;
}

#recording-filter-menu .filter-sort-title * {
    opacity: 100%;
    color: black;
    font-weight: bold;
}

#recording-filter-menu .v-divider {
    opacity: 100%;
    border-color: black;
}